{% extends "base.html" %}
{% load highlight %}


{% block blogs %}
    <h3>搜索结果：<span>{{ query }}</span></h3>
    {% if query %}
      <div class="blogs">
        {% for result in page.object_list %}
            <li> <span class="blogpic"></span>
              <h3 class="blogtitle"><a href="{{ result.object.get_absolute_url }}">{{ result.object.title }}</a></h3>
              <div class="bloginfo">
                {% highlight result.object.text with query css_class "keyword" %}
              </div>

              <div class="autor">
                    {% if result.object.tags.all %}
                        <span class="lm">
                        {% for tag in result.object.tags.all %}
                            <a href="/" title="{{ tag.name }}" target="_blank" class="classname">{{ tag.name }}</a>
                        {% endfor %}
                        </span>
                    {% endif %}
                  <span class="dtime">{{ result.object.modify_time }}</span><span class="viewnum">浏览（<a href="/">0</a>）</span>
                  <span class="readmore"><a href="{{ result.object.get_absolute_url }}">阅读原文</a></span>
              </div>
            </li>
        {% endfor %}
        <div class="blank"></div>
        <div class="pagelist">
            {% if page.has_previous %}<a href="?q={{ query }}&page={{ page.previous_page_number }}">{% endif %}« Previous{% if page.has_previous %}</a>{% endif %}
            |
            {% if page.has_next %}<a href="?q={{ query }}&page={{ page.next_page_number }}">{% endif %}Next »{% if page.has_next %}</a>{% endif %}
        </div>
      </div>
    {% else %}
        <p>没有结果发现...</p>
    {% endif %}

 {% endblock blogs %}