<!doctype html>
<html>
<head>
<meta charset="utf-8">
{% load staticfiles %}
<link REL="SHORTCUT ICON" HREF="{% static "images/base/favicon.ico" %}"/>
<title>岁月痕迹</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/static/css/base.css" rel="stylesheet">
<link href="/static/css/index.css" rel="stylesheet">
<link href="/static/css/m.css" rel="stylesheet">

<!--[if lt IE 9]>
<script src="/common/js/modernizr.js"></script>
<![endif]-->
<style>
        span.highlighted {
            color: yellowgreen;
        }
</style>
<script>
window.onload = function ()
{
	var oH2 = document.getElementsByTagName("h2")[0];
	var oUl = document.getElementsByTagName("ul")[0];
	oH2.onclick = function ()
	{
		var style = oUl.style;
		style.display = style.display == "block" ? "none" : "block";
		oH2.className = style.display == "block" ? "open" : ""
	}
}
</script>
</head>
<body>
<header>
  <div class="tophead">
    <div class="logo"><a href="/">我的博客</a></div>
    <div id="mnav">
      <h2><span class="navicon"></span></h2>
      <ul>
        <li><a href="/">首页</a></li>
        <li><a href="share.html">计算机</a></li>
        <li><a href="list.html">学无止境</a></li>
        <li><a href="info.html">慢生活</a></li>
        <li><a href="about.html">关于我</a></li>
        <li><a href="gbook.html">留言</a></li>
      </ul>
    </div>
    <nav class="topnav" id="topnav">
      <ul>
        <li><a href="/">首页</a></li>
        <li><a href="share.html">计算机</a></li>
        <li><a href="list.html">学无止境</a></li>
        <li><a href="info.html">慢生活</a></li>
        <li><a href="about.html">关于我</a></li>
        <li><a href="gbook.html">留言</a></li>
      </ul>
    </nav>
  </div>
</header>

{% block picture_show %}{% endblock picture_show %}

<article>
    {% block blogs %}{% endblock blogs %}

    <div class="sidebar">
{#        {% block search %}{% endblock search %}#}
        {% include 'search.html' %}
        {% load Django_web_tags %}
        {% load_cloud %}
        {% include 'about.html' %}
        {% block paihang %}{% endblock paihang %}

     <div class="links">
      <h2 class="hometitle">友情链接</h2>
      <ul>
        <li><a href="https://www.wikihow.com/Main-Page" title="wikihow">wikihow</a></li>
        <li><a href="https://bookset.me/" title="bookset">bookset</a></li>
        <li><a href="http://www.dxzy163.com/" title="大学资源网">大学资源网</a></li>
        <li><a href="https://www.cn-ki.net/" title="iData">iData</a></li>
      </ul>
    </div>
{#    <div class="weixin">#}
{#      <h2 class="hometitle">微信</h2>#}
{#      <ul>#}
{#        <img src="/static/images/wx.jpg">#}
{#      </ul>#}
{#    </div>#}
  </div>
</article>
<div class="blank"></div>
<footer>
  <p>Design by <a href="/">布拉猫设计</a> <a href="/">蜀ICP备11002373号-1</a></p>
</footer>
<script src="/static/js/nav.js"></script>
<a href="javascript:;" id="fire"></a>
<script>

    var oBtn = document.getElementById('fire');

    oBtn.onclick = function () {
        oBtn.style.backgroundPosition = '-199px -2px';
        var scrollTop = document.documentElement.scrollTop || document.body.scrollTop;
        /*ie chrome兼容 滚动条距离上方高度*/

        var timer = setInterval(function () {
            scrollTop -= 20;
            window.scrollTo(0, scrollTop);
            /*（x,y）*/
            if (scrollTop <= 0) {/*滚动距离小于等于0 清除定时器*/
                clearInterval(timer);
                var timer1 = setTimeout(function () {
                    oBtn.style.backgroundPosition = '-22px -5px';
                }, 1000);
            }
        }, 2);
    }
</script>

</body>
</html>