<!DOCTYPE html>
<html lang = "en">
<head>
<meta charset="utf-8">
    {{ form.media }}
<title>登录</title>
</head>
<body>
{% if errors %}
	<li>
		{% for error in errors %}
		<p style = "color: red;">
		{{error}}below.
		</p>
		{% endfor %}
	</li>
{% endif %}

<form name="form1" method="post" action="/user/search/">
	<TABLE>
		<TR>
			<TD colspan="2" align="center"><font>用户登录</font></TD>
		</TR>
		<TR></TR>
		<TR></TR>
		<TR>
			<TD><font>用户名：</font></TD>
			<TD><input name = "username" id = "username" type = "text" size = "20"></TD>
		</TR>
		<TR>
			<TD><font>密&nbsp;&nbsp;码：</font></TD>
			<TD><input name = "password" id = "password" type = "text" size = "20"></TD>
		</TR>
		<TR>
			<TD>
			<input type ="submit" id ="submit1" name="submit1" value="登&nbsp;&nbsp;&nbsp;录">
			</TD>
		</TR>
		<TR>
			<TD colspan="2" align="center">
			<a href="/user/register/"><br>点&nbsp;我&nbsp;注&nbsp;册</a>
			</TD>
		</TR>
	</TABLE>
</form>
</body>
</html>

			