{% extends "base.html" %}

{% block picture_show %}
<div class="picshow">
  <ul>
    <li><a href="/"><i><img src="/static/images/b00.jpg"></i>
      <div class="font">
        <h3>你好</h3>
      </div>
      </a></li>
    <li><a href="/"><i><img src="/static/images/b01.jpg"></i>
      <div class="font">
        <h3>早</h3>
      </div>
      </a></li>
    <li><a href="/"><i><img src="/static/images/b02.jpg"></i>
      <div class="font">
        <h3>晚</h3>
      </div>
      </a></li>
  </ul>
</div>
{% endblock picture_show %}

{% block blogs %}
  <div class="blogs">
    {% for article in article_list %}
{#        <li> <span class="blogpic"></span>#}

          <h3 class="blogtitle"><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h3>
          <div class="bloginfo">
            <p>{{ article.text|safe|truncatechars_html:100 }}</p>
          </div>
          <div class="autor">
                {% if article.tags.all %}
                    <span class="lm">
                    {% for tag in article.tags.all %}
                        <a href="{% url 'Django_web:tag' tag.pk %}" title="{{ tag.name }}" target="_blank" class="classname">{{ tag.name }}</a>
                    {% endfor %}
                    </span>
                {% endif %}
              <span class="dtime">{{ article.modify_time }}</span><span class="viewnum">浏览（<a>{{ article.views }}</a>）</span>
              <span class="readmore"><a href="{{ article.get_absolute_url }}">阅读原文</a></span>
          </div>
    {% endfor %}
    <div class="blank"></div>
    {% if is_paginated %}
    <div class="pagelist">
        {% if page_obj.has_previous %}
             <a href="?page={{ page_obj.previous_page_number }}">上一页</a>
         {% endif %}
        <a title="Total record">{{ page_obj.number }}/{{ page_obj.paginator.num_pages }}页</a>
        {% if page_obj.has_next %}
             <a href="?page={{ page_obj.next_page_number }}">下一页</a>
            {% endif %}
    </div>
    {% endif %}
  </div>

 {% endblock blogs %}

{% block paihang %}
        <div class="paihang">
      <h2 class="hometitle">点击排行</h2>
      <ul>
        <li><b><a href="/download/div/2015-04-10/746.html" target="_blank">【活动作品】柠檬绿兔小白个人博客模板30...</a></b>
          <p><i><img src="/static/images/t02.jpg"></i>展示的是首页html，博客页面布局格式简单，没有复杂的背景，色彩局部点缀，动态的幻灯片展示，切换卡，标...</p>
        </li>
      </ul>
    </div>
{% endblock paihang %}
   
