{% extends "base.html" %}

{% block blogs %}
  <div class="blogs">
    {% for article in article_list %}
        <li> <span class="blogpic"></span>
          <h3 class="blogtitle"><a href="/">{{ article.title }}</a></h3>
          <div class="bloginfo">
            <p>{{ article.text|safe|truncatechars_html:100 }}</p>
          </div>
          <div class="autor"><span class="lm"><a href="/" title="CSS3|Html5" target="_blank" class="classname">CSS3|Html5</a></span><span class="dtime">{{ article.modify_time }}</span><span class="viewnum">浏览（<a href="/">0</a>）</span><span class="readmore"><a href="/">阅读原文</a></span></div>
        </li>
    {% endfor %}
    <div class="blank"></div>
    {% if is_paginated %}
    <div class="pagelist">
        {% if page_obj.has_previous %}
             <a href="?page={{ page_obj.previous_page_number }}">上一页</a>
         {% endif %}
        <a title="Total record">{{ page_obj.number }}/{{ page_obj.paginator.num_pages }}页</a>
        {% if page_obj.has_next %}
             <a href="?page={{ page_obj.next_page_number }}">下一页</a>
            {% endif %}
    </div>
    {% endif %}
  </div>

 {% endblock blogs %}



{% block search %}
    <div class="search">
      <form action="/e/search/index.php" method="post" name="searchform" id="searchform">
        <input name="keyboard" id="keyboard" class="input_text" value="请输入关键字" style="color: rgb(153, 153, 153);" onfocus="if(value=='请输入关键字'){this.style.color='#000';value=''}" onblur="if(value==''){this.style.color='#999';value='请输入关键字'}" type="text">
        <input name="show" value="title" type="hidden">
        <input name="tempid" value="1" type="hidden">
        <input name="tbname" value="news" type="hidden">
        <input name="Submit" class="input_submit" value="搜索" type="submit">
      </form>
    </div>
{% endblock search %}

{% block cloud %}
    <div class="cloud">
      <h2 class="hometitle">标签云</h2>
      <ul>
        <a href="/">陌上花开</a> <a href="/">校园生活</a> <a href="/">html5</a> <a href="/">SumSung</a> <a href="/">青春</a> <a href="/">温暖</a> <a href="/">阳光</a> <a href="/">三星</a><a href="/">索尼</a> <a href="/">华维荣耀</a> <a href="/">三星</a> <a href="/">索尼</a>
      </ul>
    </div>
{% endblock cloud %}

{% block paihang %}
        <div class="paihang">
      <h2 class="hometitle">点击排行</h2>
      <ul>
        <li><b><a href="/download/div/2015-04-10/746.html" target="_blank">【活动作品】柠檬绿兔小白个人博客模板30...</a></b>
          <p><i><img src="/static/images/t02.jpg"></i>展示的是首页html，博客页面布局格式简单，没有复杂的背景，色彩局部点缀，动态的幻灯片展示，切换卡，标...</p>
        </li>
      </ul>
    </div>
{% endblock paihang %}
   
